body{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    background-color: #dadada;
}
.container{
    margin: 20% auto 0 auto;
    
}
img{
   height: 150px;
   border-radius: 50%;
}
.logo{
    animation: logo 2s ease-out both;
}
@keyframes logo {
    0%{
        transform: translate(800px) rotate(540deg);
        opacity: 0;
    }
    100%{
        transform: translate(0) rotate(0deg);
        opacity: 1;
    }
    
}
@media (max-width:768px){
    .container{
        margin-top: 60%;
    }
}

